.first-images {
    width: 220px;
    height: 190px;
    /*box-shadow: 10px 10px 10px 10px black;*/
    border-style: solid;
    border-color: black;
}

figcaption {

}

.col-sm-4 {
    border-color: black;
    border-style: solid;
}

#rising-sun {
    font-family: "Japanese 3017";
}

p {
    font-family: Superclarendon;
}

.japan-prime {
    color: white;
}

#text-field {
    margin-top: 25px;
    display: inline-block;
    padding: 15px 10px;
    line-height: 140%;
}

#red-badge {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 50px;
    width: 600px;
    border-style: solid;
    border-radius: 25px;
    border-color: firebrick;




}


