.first-images {
    width: 220px;
    height: 190px;
    /*box-shadow: 10px 10px 10px 10px black;*/
    border-style: solid;
    border-color: black;
}

figcaption {

}

.col-sm-4 {
    border-color: black;
    border-style: solid;
}

#rising-sun {
    font-family: "Japanese 3017";
}

p {
    font-family: Superclarendon;
}

.japan-prime {
    color: white;
}
